<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-app box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Inventory</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded()"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [class.show]="isExpanded()"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              routerLinkActive="link-active"
              [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item"
              routerLinkActive="link-active">
            <a class="nav-link" [routerLink]="['/catalog']">Catalog</a>
          </li>

          @if (isAuthenticated()) {
            <li class="nav-item"
                routerLinkActive="link-active">
              <a class="nav-link" [routerLink]="['/products']">My Products</a>
            </li>
          } @else {
            <li class="nav-item">
              <a class="nav-link" href="/bff/login">Login</a>
            </li>
          }

          @if (isAuthenticated()) {
            <li class="nav-item">
              <a class="nav-link" [href]="logoutUrl()">Signout</a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
</header>
